body {
  font-family: 'Roboto', sans-serif;
  outline: none;
}
a:hover{
  text-decoration: none;
}
.new-arrivals:hover{
  background-color: #fff;
}
.navbar-info-top {
  background-color: #252525;
}

.top-info {
  max-height: 30px;
  background-color: #252525;
}

#main-menu-top {
  padding: 0;
}

.navbar-right li a {
  padding-right: 15px!important;
}

.top-menu .nav li a {
  padding: 5px 25px 5px 0;
  font-size: 12px;
  color: #fff;
  text-transform: capitalize;
}

.top-menu .nav li a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.phone {
  padding-right: 8px;
}

.logo {
  padding-top: 43px;
  max-height: 85px;
}

.login {
  float: left;
}

.login-btn {
  padding: 6px 19px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-transform: uppercase;
  margin-right: 16px;
  font-size: .93em;
  margin-left: -5px;
  transition: all .3s ease-in-out;
}

.login-btn:hover {
  background-color: #000;
  color: #fff;
  transition: all .3s ease-in-out;
}

.modal-content {
  border-radius: 0;
}

.reg-btn {
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  letter-spacing: -0.5px;
  transition: all .3s ease-in-out;
}

.reg-btn:hover {
  border: 1px solid #ccc;
  transition: all .3s ease-in-out;
}

.login-menu {
  display: inline-flex;
  padding-top: 23px;
}

.cart-top {
  padding-top: 30px;
  display: inline-block;
  float: right;
}
.cart-contents{
  color: #000;
}
.cart-top img {
  width: 19px;
  margin: 0 2px 5px;
}

.cart-top p {
  display: inline-block;
  margin-right: 13px;
  letter-spacing: -0.2px;
}

.checkout-btn {
  padding: 7px 11px;
  border: none;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  margin-right: -2px;
  transition: all .3s ease-in-out;
}

.checkout-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: all .3s ease-in-out;
}

.search-form {
  position: relative;
}

.search-form input[type='search'] {
  position: relative;
  width: 100%;
  padding: 9px 17px;
  border: 1px solid #ccc;
}

.src-btn {
  position: absolute;
  right: 6px;
  bottom: 5px;
  background-color: #fff;
  border: 0;
  font-size: 1.5em;
}

.search-header {
  padding-top: 11px;
  margin-left: -4px;
}

.big-menu {
  background-color: #F5F5F5;
}

.big-menu li {
  color: #3f3d3d;
}

.big-menu li:active {
  color: #E4E4E4;
}

#main-menu {
  padding: 0;
  margin: 23px 0;
}

#main-menu ul li a {
  padding: 10px 25px;
  letter-spacing: -0.6px;
}


/* content */
.info-top{
  position: absolute;
  width: 100%;
  top: 60%;
  z-index: 1;

}
.info-cat{
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 1;

}
.info-min{
  position: absolute;
  width: 100%;
  z-index: 1;

}
.new-arrivals img{
  position: absolute;
  left: 0;
  width: 460px;
  height: 320px;
}
.new-arrivals {
  position: relative;
  height: 320px;
  text-align: center;
}

.info-cat h3,
.new-arrivals h3,
.tuxedo h3,
.sweater h3 {
  margin: 0;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
h3 a{
  color: #fff;
}
h3 a:hover{
  color: #fff;
}
.new-arrivals p,
.tuxedo p,
.sweater p {
  color: #ededed;
  margin: 0;
  padding-bottom: 24px;
}

.content-btn {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 5px 16px;
}
.content-btn:hover{
  color: #fff;
}
.tuxedo {
  height: 320px;
  text-align: center;
}

.sweater {
  height: 250px;
  text-align: center;
}

.sweater h3 {
  margin: 0;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  text-transform: uppercase;
}

.shoes {
  position: relative;
  height: 250px;
  text-align: center;
  transition: all .3s ease-in;
}
.shoes img{
  transition: all .3s ease-in;
}
.shoes img:hover {
  transform: rotate(-2deg) scale(1.05);
  transition: all .3s ease-in;
}

.shoes h5,
.glasses h5,
.watches h5 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 1.3em;
}

.arrow-right img {
  position: absolute;
  width: 30px;
  right: 20px;
  bottom: 23px;
}

.glasses {
  position: relative;
  height: 250px;
  text-align: center;
}

.watches {
  position: relative;
  height: 250px;
  text-align: center;
}

.t-shirt {
  position: relative;
  height: 250px;
  text-align: center;

}

.t-shirt h3 {
  margin: 0;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 20px;
}


/* spesial area */

.sec-spesial {
  position: relative;
  border-top: 1px solid #e8e8e8;
  margin: 0 15px;
  font-family: 'Playfair Display', serif;
  margin-top: 60px;
  padding-top: 60px;
}

.sec-spesial h2 {
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -83px;
  font-size: 1.5em;
  display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 10px;
  color: #555;
  background-color: #fff;
}

.img-item1 {
  background: url(../img/1.jpg) no-repeat;
  height: 210px;
  text-align: center;
}

.img-item2 {
  background: url(../img/2.jpg) no-repeat;
  height: 210px;
  text-align: center;
}

.img-item3 {
  background: url(../img/3.jpg) no-repeat;
  height: 210px;
  text-align: center;
}

.img-item4 {
  background: url(../img/4.jpg) no-repeat;
  height: 210px;
  text-align: center;
}

.bottom-item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  width: 220px;
  height: 80px;
  text-align: center;
  color: #000;
  border: 1px solid #e5e4e2;
}

.bottom-item div {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.img-item1,
.img-item2,
.img-item3,
.img-item4 {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.img-item1 h3,
.img-item2 h3,
.img-item3 h3,
.img-item4 h3 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  margin: 0 auto;
}


/* footer */

.footer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 80px;
  margin: 70px 0 50px;
}

.social-bottom ul li {
  float: left;
  list-style-type: none;
}

.social-bottom {
  display: inline-block;
  padding-top: 20px;
}

.social-bottom ul {
  padding: 0;
}

.social-bottom ul li a {
  color: #000;
  font-size: 2em;
  padding-right: 8px;
}

.social-bottom h4 {
  margin: 0;
  float: left;
  padding-right: 25px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  margin-left: 15px;
  font-size: 1.2em;
}

.widgets-area {
  height: 200px;
}

.sub-form {
  display: inline;
  float: right;
  padding-top: 20px;
  margin-right: 15px;
}

.sub-form input[type='email'] {
  padding: 9px 28px;
  width: 355px;
  border: 1px solid #ccc;
}
.sub-form input[type='email']:focus{
  outline: none;
}
.sub-btn {
  padding: 9px 32px;
  background-color: #000;
  color: #fff;
  border: none;
  border: 1px solid #000;
  transition: all .2s ease-in;
}
.sub-btn:hover{
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  transition: all .2s ease-in;
}
.widgets-area h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  margin: 0;
  padding-bottom: 15px;
}

.widgets-area ul {
  padding: 0;
}

.widgets-area ul li {
  list-style-type: none;
  line-height: 26px;
}

.widgets-area ul li a {
  color: #555;
  font-family: 'Roboto', sans-serif;
}

.stores {
  float: left;
}

span2 {
  background-color: #ccc;
  padding: 5px 25px;
  font-size: .9em;
  margin-right: 10px;
}

span3 {
  border: 1px solid #ccc;
  padding: 5px 25px;
  font-size: .9em;
}

.str {
  display: block;
}

.str h4 {
  margin-right: 35px;
}

.deep-botton {
  padding-bottom: 50px;
}
.deep-botton p{
  display: block;
  float: left;
}
.deep-botton p:first-child{
  padding-right: 65px;
}
.deep-botton p:nth-child(2){
  padding-right: 28px;
}
.overlay {
  position: absolute;
  opacity: 1;
  visibility: visible;
  display: block;
  height: 51%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0));
  z-index: 1;
}


/* preloader */

.bg-preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.done {
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
}

/* others... */
.product_meta {
  display: inline-block;
}
.single_add_to_cart_button{
  background-color: #000;
  color: #fff;
  border-radius: 0;
}

.single-cat-prod h1{
  text-transform: uppercase;
  text-align: center;
}
.term-description p{
  text-align: center;
}
.widget-title {
  font-size: 1.1em;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding-bottom: 15px;
}
.head-title h3{
  font-size: 1.1em;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding-bottom: 15px;
}
a:focus{
  outline: none;
  color: #fff;

}

.spesial1 h3{
  z-index:10;
}
.spesial1 .overlay2{
  position: absolute;
  width: 100%;
  height: 210px;
  top: 0;
}
.spesial1:hover .overlay2{
  background: rgba(30, 30, 30, 0.5);
  z-index: 9;
  transition: all .3s ease-in;
}
.spesial1 .overlay2{
  transition: all .3s ease-in;
}
.spesial1:hover .bottom-item{
  background-color: #e5e4e2;
  transition: all .3s ease-in;
}
.spesial1 .bottom-item{
  transition: all .3s ease-in;
}
